{% extends 'base-lk.html' %}

{% block content-lk %}
    <span class="cake_grey">У вас еще нет заказов.</span>
    <p class="cake_grey">Вы можете добавить торт из <a href="./index.html#step2" class="text-decoration-none cake_pink">Каталога</a> или <a href="./index.html#step3" class="text-decoration-none cake_pink">Создать свой</a>.</p>
    <span class="cake_grey">Есть вопросы?</span>
    <span class="cake_grey">Воспользуйтесь нашим <a href="https://vk.com/devmanorg" class="text-decoration-none cake_pink">чат-ботом</a>.</span>
{% endblock %}